@import "main";

.body {
  margin: 8% 2% 4%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  &__textbox {
    margin: 0 2%;
    font-size: 18pt;
    padding: 1% 2%;
    width: 40%;
    height: 60vh;
    text-align: justify;
    background-color: $primarygreen;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    &__image {
      float: right;
      width: 40%;
      margin: 1% 0 0 2%;
    }
  }

  &__video {
    margin: 0 2%;
    width: 45%;
    height: 60vh;
    padding: 0 0 2%;
    background-color: $primaryblue;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    &__frame {
      position: relative;
      z-index: 0;
      width: 100%;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }

    &__play-button {
      position: relative;
      z-index: 2;
      bottom: 40%;
      left: 53%;
      font-size: 60pt;
      margin: -43px;
    }

    &__description {
      margin: 0 1%;
      font-size: 18pt;
    }

    &:hover {
      cursor: pointer;

      .body__video__play-button {
        i {
          color: $accents;
        }
      }
    }
  }
}