// variables
$white: #f8f8f8;
$accents: #e0d33c;
$primaryblue: #4561bd;
$primarygreen: #38cb5a;
$background: #1a4d35;

// fonts
@font-face {
  font-family: "comfortaa";
  src: url("../../dist/fonts/proximanova-regular.otf"); // this works in the compiled css file
}

// reset
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: $background;
  overflow-x: hidden;
}

// global style
.header {
  margin-top: .5%;
  width: 100%;
  min-height: 6vh;

  &__logo {
    float: left;
    margin-left: 1%;
    width: 3%;
    height: 5vh;
    background-color: $primarygreen;

    &__placeholder {
      padding-top: 25%;
      display: block;
      width: 100%;
      height: 70%;
      text-align: center;

      &:hover {
        color: $accents;
      }
    }
  }

  &__nav {
    float: right;
    width: 18%;
    margin: 1% 0;

    &__element {
      margin: 0 5%;

      &--active {
        color: $accents;
      }
    }
  }
}

.banner {
  width: 100%;
  height: 12vh;
  display: inline-block;
  overflow: hidden;
  position: relative;
  float: left;
  cursor: pointer;

  &__image {
    height: 100%;
    width: 100%;
    background: url("../../dist/images/banner.jpg") no-repeat center/cover;

    &__link {
      width: 100%;
      height: 8vh;
      padding-top: 4vh;
      padding-right: 1%;
      float: right;
      text-align: right;
      font-size: 18pt;
    }
  }

  &:hover {
    .banner__image {
      transform: scale(1.2);

      &__link {
        color: $accents;
        margin-right: 8%;
      }
    }
  }
}

.body {
  margin: 8% 2% 4%;
  min-height: 60vh;
}

.footer {
  width: 100%;
  height: 15vh;

  &__contact {
    float: left;
    margin: 2%;
  }

  &__logo {
    float: right;
    width: 8%;
    height: 15vh;
    margin: 0 3% 5% 0;
    background-color: $primarygreen;

    &__placeholder {
      padding-top: 40%;
      display: block;
      width: 100%;
      height: 58%;
      text-align: center;

      &:hover {
        color: $accents;
      }
    }
  }
}

a {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $accents;
  }
}

* {
  font-family: "comfortaa", sans-serif;
  color: $white;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}